<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.test"
        version="0.7.0">

  <name>test</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/test.js" target="js/test.js"/>

  <js-module src="www/test.js" name="test">
    <clobbers target="test" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Test">
        <param name="android-package" value="com.example.plugin.Test"/>
      </feature>
    </config-file>

    <source-file src="src/android/Test.java" target-dir="src/com/example/plugin/"/>
    <source-file src="jar.jar" target-dir="libs" />
  </platform>

</plugin>